{% extends "base.html" %}

{% block column_basic %}
    <div id="column-basic" class="thumbnail">
      <img src="../static/images/column-basic.png" alt="" style="height:200px; width:100%">
      <div class="caption">
        <h3>Column-Basic</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
{% endblock %}

{% block pie_chart %}
    <div id="pie-chart" class="thumbnail">
      <img src="" alt="" style="height:200px; width:100%">
      <div class="caption">
        <h3>Pie-Chart</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
{% endblock %}

{% block basic_line %}
    <div id="basic-line" class="thumbnail">
      <img src="" alt="" style="height:200px; width:100%">
      <div class="caption">
        <h3>Basic-Line</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
{% endblock %}